/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;

}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background: #87CEFA;
	padding: 6px 6px;
	z-index: 99;
	transition: all 0.5s ease;
}
/* sidebar�隞� */
.sidebar.active{
	width: 240px
}
/* sidebar��s���� */
.sidebar .logo_content .logo{
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5 ease;
}
/* �����*/
.sidebar.active .logo_content .logo{
	opacity: 1;
	pointer-events: none;
}
/* ������ */
.logo_content .logo i{
	font-size: 30px;
	margin-right: 5px;
}
/* 璉格�� */
.logo-content .logo .logo_name{
	font-size: 50px;
	font-weight: 500;
}
/* ����*/
.sidebar #btn{
	position: absolute;
	color: #6495ED;
	top: 6px;
	left: 50%;
	font-size: 30px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
/* �� */
.sidebar.active #btn{
	left: 90%;
}
/* ������ */
.sidebar ul{
	margin-top: 10px;
}
/* sidebar ����+��摮� */
.sidebar ul li{
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0 5px;
	list-style: none;
	line-height: 50px;
}
/* �甈����� */
.sidebar ul li .tooltip{
	position: absolute;
	left: 130px;
	top: 0;
	transform: translate(-50%,-50%);
	border-radius:6px;
	height: 35px;
	width: 125px;
	background: none;
	line-height: 35px;
	text-align: center;
	box-shadow: 0 5px 10px raga(0, 0, 0, 0.2);
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	display: block;
}
/* �甈����� */
.sidebar.active ul li .tooltip{
	display: none;
}
/* �甈���� */
.sidebar ul li:hover .tooltip{
	transition: all 0.5s ease;
	opacity: 1;
	top: 50%;
}
/* 蝘餃��甈��over������銝� */
.sidebar ul li input{
	position: absolute;
	height: 80%;
	width: 70%;
	left: 0;
	top: 0;
	border-radius: 12px;
	outline: none;
	border: none;
	background: #F0FFFF;
	padding-left: 50px;
	font-size: 18px;
	color: #000000;
}
/* ��摮���*/
.sidebar ul li .bx-search{
	position: absolute;
	z-index: 99;
	top: 40%;
	left: 0;
	transform: translateY(-50%);
	font-size: 22px;
	background: #00BFFF;
	color: #FFF;
	transition: all 0.5 ease;
}
/* ���con */
.sidebar:active ul li .bx-search: hover{
	background: #fff;
	color: #1d1b31;
}
/* icon hover */
.sidebar ul li a{
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	transform: all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
	width: 50px;

}
/* �甈���� */
.sidebar ul li a:hover{
	color: #11101d;
	background: #fff;
}
/* �甈���over */
.sidebar ul li i{
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
/* �甈�con */
.sidebar .links_name{
	opacity: 0;
	pointer-events: none
	transition: all 0.5s ease;
}
/* �甈��迂 */
.sidebar.active .links_name{
	opacity: 1;
	pointer-events: auto;
}
/* �甈��迂���� */
.sidebar .profile_content{
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}
/* �犖蝪∩�icon */
.sidebar .profile_content .profile{
	position: relative;
	padding: 10px 6px;
	height: 60px;
	background: none;
	transition: all 0.4s ease;
}
/* �犖蝪∩���� */
.sidebar.active .profile_content .profile{
	background: #1E90FF;
}
.profile_content .profile .profile_details{
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
}
/* ��摰� */
.sidebar.active .profile .profile_details{
	opacity: 1;
	pointer-events: auto;
}
.profile .profile_details img{
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 12px;
}
/* �犖蝪∩��� */
.profile .profile_details .name_job{
	margin-left: 10px;
}
/* �犖蝪∩�極雿��銵� */
.profile .profile_details .name{
	font-size: 15px;
	font-weight: 400;
}
/* �犖蝪∩�極雿��銵� */
.profile .profile_details .job{
	font-size: 12px
}
.profile #log_out{
	position: absolute;
	bottom: 5px;
	left: 45%;
	bottom: 5px;
	transform: translateX(-50%);
	min-width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
	transition: all 0.4s ease;
	background: none;
}
/* log got icon */
.sidebar.active .profile #log_out{
	left: 88%;
}
.sidebar.active .profile #log_out{
	background: none;
}
.home_content{
	position: absolute;
	height: 100%;
	width: calc(100% - 78px);
	left: 78px;
	transition: all 0,5 ease;
}
.home_content .text{
	font-size: 25px;
	font-weight: 500;
	color: #1d1b31;
	margin: 12px;
}
.sidebar.active ~ .home_content{
	width:calc(100% - 240px) ;
	left: 240px;
}