<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>住房管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="//unpkg.com/element-ui"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/zh-TW.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.21.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/include.js"></script>
    <style>



        #div {
            width: 100%;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .swal2-container {

            z-index: 19891016;
        }

    </style>
</head>

<body>

<div id="header"></div>

<div id="div">

    <div>
        <form class="form-inline" action="" method="post">
            <div class="form-group">
                <label for="ROOM_ORDER_ID">訂單編號</label>
                <input type="text" name="ROOM_ORDER_ID" value="" class="form-control"
                       id="ROOM_ORDER_ID" v-model="ROOM_ORDER_ID">
            </div>
            <div class="form-group">
                <label for="MEM_ID">會員編號</label>
                <input type="text" name="MEM_ID" value="" class="form-control"
                       id="MEM_ID" v-model="MEM_ID">
            </div>
            <button type="button" @click="send()" class="btn btn-default">查詢</button>
        </form>
    </div>

    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="3">
            <div class="grid-content bg-purple"></div>
        </el-col>
        <el-col :span="18">
            <el-table :data="tableData" style="width: 100%">
                <el-table-column
                        prop="roomOrderId"
                        label="訂單編號"
                        width="120" align="center">
                </el-table-column>
                <el-table-column
                        prop="memId"
                        label="會員編號"
                        width="100" align="center">
                </el-table-column>
                <el-table-column
                        prop="orderDate"
                        label="訂單時間" align="center" width="180">
                    <template slot-scope="{row}">
                        <span>{{row.orderDate | dateString('YYYY-MM-DD HH:mm')}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="roomOrderStatus"
                        label="訂單狀態" align="center">
                    <template slot-scope="{row}">
                        <span v-if="row.roomOrderStatus===1"><el-tag>已確認</el-tag></span>
                        <span v-if="row.roomOrderStatus===0"><el-tag type="danger">未確認</el-tag></span>
                        <span v-if="row.roomOrderStatus===2"><el-tag type="info">已取消</el-tag></span>
                        <span v-if="row.roomOrderStatus===3"><el-tag type="success">已完成</el-tag></span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="totalPrice"
                        label="訂單總金額" align="center">
                </el-table-column>
                <el-table-column
                        prop="roomOrderId"
                        label="訂單明細" align="center">
                    <!--                <el-link type="primary" :href="`XXX?id=${prop}`">查看</el-link>-->
                    <template slot-scope="tableDataList">
                        <!--                    <a :href="`XXX?id=${tableDataList.row.roomCategoryId}`"-->
                        <!--                       target="_blank">查看-->
                        <!--                    </a>-->
                        <!--                        <el-link type="primary" :href="`XXX?id=${tableDataList.row.roomOrderId}`">查看</el-link>-->
                        <!--                        <div v-if="tableDataList.row.roomOrderStatus===0 ">等待確認</div>-->
                        <!--                        <div v-if="tableDataList.row.roomOrderStatus=== 1">-->
                        <el-link v-if="tableDataList.row.roomOrderStatus===0" type="primary"
                                 @click="showEditStu(tableDataList.row.roomOrderId)">查看
                        </el-link>
                        <el-link v-if="tableDataList.row.roomOrderStatus===2" type="primary"
                                 @click="showEditStu(tableDataList.row.roomOrderId)">查看
                        </el-link>
                        <el-link v-if="tableDataList.row.roomOrderStatus===3" type="primary"
                                 @click="showEditStu(tableDataList.row.roomOrderId)">查看
                        </el-link>
                        <el-link v-if="tableDataList.row.roomOrderStatus===1" type="primary"
                                 @click="show4Edit(tableDataList.row.roomOrderId)">管理
                        </el-link>

                        <!--                        </div>-->
                    </template>
                </el-table-column>
                <el-table-column
                        label="操作" align="center">
                    <template slot-scope="{row}">
                        <span v-if="row.roomOrderStatus===0"><el-button type="primary" icon="el-icon-success"
                                                                        @click="updateStu(row.roomOrderId)">確認</el-button></span>
                        <span v-if="row.roomOrderStatus===1"><el-button type="success" icon="el-icon-check"
                                                                        @click="doneStu(row.roomOrderId)">完成</el-button></span>
                        <span v-if="row.roomOrderStatus===2 || row.roomOrderStatus===3"><el-button type="info" disabled>已結束</el-button></span>

                    </template>

                </el-table-column>
            </el-table>
        </el-col>
        <el-col :span="3">
            <div class="grid-content bg-purple"></div>
        </el-col>
    </el-row>

    <!--
        分頁組件
          @size-change： 當改變每頁條數時觸發的函數
          @current-change：當改變頁碼時觸發的函數
          current-page ：默認的頁碼
          :page-sizes：每頁條數選擇框中顯示的值
          :page-size : 默認的每頁條數
          layout： 分頁組件的佈局
          total（總條數）, sizes(每頁條數), prev（上一頁）, pager(所有的頁碼), next(下一頁), jumper（跳轉頁碼）
          :total: 總條數
    -->

    <el-dialog title="訂單明細" :visible.sync="dialogTableVisible4list">
        <el-table
                :data="roomData"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="明細編號">
                            <span>{{ props.row.orderListId }}</span>
                        </el-form-item>
                        <el-form-item label="訂單編號">
                            <span>{{ props.row.roomOrderId }}</span>
                        </el-form-item>
                        <el-form-item label="房型">
<!--                            <span>{{ props.row.roomCategoryId }}</span>-->

                            <template>
                                <div v-for="item in allRoom">
                                <span v-if="item.roomCategoryId == props.row.roomCategoryId">
                                    {{ item.roomName }}
                                </span>
                            </div>
                            </template>
                        </el-form-item>
                        <el-form-item label="會員姓名">
                            <span>{{ props.row.memName }}</span>
                        </el-form-item>
                        <el-form-item label="優惠編號">
                            <span>{{ props.row.roomPromotionId }}</span>
                        </el-form-item>
                        <el-form-item label="房間編號">
                            <template>

                                <div v-if="props.row.roomId == 0 ">未分配房間</div>
                                <div v-if="props.row.roomId != 0 ">{{ props.row.roomId }}</div>

                                <!--                                <el-select v-model="options.roomId" placeholder="請選擇" >-->
                                <!--                                    <el-option-->
                                <!--                                            v-for="item in options"-->
                                <!--                                            v-if="item.roomCategoryId == props.row.roomCategoryId && item.roomSaleStatus == 0 "-->
                                <!--                                            :key="item.roomId"-->
                                <!--                                            :label="item.roomId"-->
                                <!--                                            :value="item.roomId">-->
                                <!--                                    </el-option>-->
                                <!--                                </el-select>-->
                            </template>
                        </el-form-item>
                        <el-form-item label="入住日期">
                            <span>{{props.row.checkInDate | dateString('YYYY-MM-DD')}}</span>
                        </el-form-item>
                        <el-form-item label="退房日期">
                            <span>{{props.row.checkOutDate | dateString('YYYY-MM-DD')}}</span>
                        </el-form-item>
                        <el-form-item label="金額">
                            <span>{{ props.row.roomTotalPrice }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>

            <el-table-column
                    label="房型"
                    prop="roomCategoryId">
            </el-table-column>

            <el-table-column
                    label="入住日期">
                <template slot-scope="scope">{{scope.row.checkInDate | dateString('YYYY-MM-DD')}}</template>
            </el-table-column>
            <el-table-column
                    label="退房日期">
                <template slot-scope="scope">{{scope.row.checkOutDate | dateString('YYYY-MM-DD')}}</template>
            </el-table-column>

            <el-table-column
                    label="金額"
                    prop="roomTotalPrice">
            </el-table-column>
        </el-table>
        <!--                <el-button  type="primary"  @click="addStu()">完成</el-button>-->
        <!--                <el-button type="primary" @click="addStu()">取消</el-button>-->
    </el-dialog>

    <el-dialog title="住房訂房操作" :visible.sync="dialogTableVisible4Edit" @close="selectByPage">
        <el-table
                :data="roomEditDate"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="明細編號">
                            <span>{{ props.row.orderListId }}</span>
                        </el-form-item>
                        <el-form-item label="訂單編號">
                            <span>{{ props.row.roomOrderId }}</span>
                        </el-form-item>
                        <el-form-item label="房型">
<!--                            <span>{{ props.row.roomCategoryId }}</span>-->
                            <template>
                                <div v-for="item in allRoom">
                                <span v-if="item.roomCategoryId == props.row.roomCategoryId">
                                    {{ item.roomName }}
                                </span>
                                </div>
                            </template>
                        </el-form-item>
                        <el-form-item label="會員姓名">
                            <span>{{ props.row.memName }}</span>
                        </el-form-item>
                        <el-form-item label="優惠編號">
                            <span>{{ props.row.roomPromotionId }}</span>
                        </el-form-item>
                        <el-form-item label="房間編號">
                            <template>
                                <el-link v-if="props.row.roomId != 0" type="primary"
                                         @click="room(props.row.roomId)">{{ props.row.roomId }}
                                </el-link>
                                <!--                                <div v-if="props.row.roomId != 0 ">{{ props.row.roomId }}</div>-->
                                <div v-if="props.row.roomId == 0 ">

                                    <el-select v-model="options.roomId" placeholder="請選擇">
                                        <el-option
                                                v-for="item in options"
                                                v-if="item.roomCategoryId == props.row.roomCategoryId && item.roomSaleStatus == 0 "
                                                :key="item.roomId"
                                                :label="item.roomId"
                                                :value="item.roomId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </template>
                        </el-form-item>
                        <el-form-item label="入住日期">
                            <span>{{props.row.checkInDate | dateString('YYYY-MM-DD')}}</span>
                        </el-form-item>
                        <el-form-item label="退房日期">
                            <span>{{props.row.checkOutDate | dateString('YYYY-MM-DD')}}</span>
                        </el-form-item>
                        <el-form-item label="金額">
                            <span>{{ props.row.roomTotalPrice }}</span>
                        </el-form-item>
                        <el-form-item label="操作">
                            <span v-if="props.row.roomId == 0"><el-button type="primary" icon="el-icon-success"
                                                                          @click="checkin(props.row.orderListId,props.row.roomOrderId)">分配房間</el-button></span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>

            <el-table-column
                    label="房型"
                    prop="roomCategoryId">
            </el-table-column>

            <el-table-column
                    label="入住日期">
                <template slot-scope="scope">{{scope.row.checkInDate | dateString('YYYY-MM-DD')}}</template>
            </el-table-column>
            <el-table-column
                    label="退房日期">
                <template slot-scope="scope">{{scope.row.checkOutDate | dateString('YYYY-MM-DD')}}</template>
            </el-table-column>

            <el-table-column
                    label="金額"
                    prop="roomTotalPrice">
            </el-table-column>

        </el-table>

    </el-dialog>

    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pagination.currentPage"
            :page-sizes="[5]"
            :page-size="pagination.rows"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagination.totalCount">
    </el-pagination>

</div>

</body>

<script>

    ELEMENT.locale(ELEMENT.lang.zhTW)

    Vue.filter('dateString', function (value, format = 'YYYY-MM-DD HH:mm:ss') {
        return moment(value).format(format)
    })

    var vm = new Vue({
        el: "#div",
        data: {
            dialogTableVisible4list: false,
            dialogTableVisible4Edit: false,
            options: [],
            roomData: [],
            roomEditDate: [],
            tableData: [],
            allRoom:[],
            pagination: {
                currentPage: 1,
                rows: 5,
                totalCount: 0,
            },
            ROOM_ORDER_ID: "",
            MEM_ID: "",
        },
        methods: {
            selectByPage() {
                axios.post("/CFA101G2/rmorder/romListServlet",
                    `currentPage=${this.pagination.currentPage}&rows=${this.pagination.rows}&ROOM_ORDER_ID=${this.ROOM_ORDER_ID}&MEM_ID=${this.MEM_ID}`,
                ).then(resp => {
                    this.tableData = resp.data.list;
                    this.pagination.currentPage = resp.data.currentPage;
                    this.pagination.totalCount = resp.data.totalCount;
                })
            }, //改變每頁條數時執行的函數
            handleSizeChange(rows) {
                //修改分頁查詢的參數
                this.pagination.rows = rows;
                //重新執行查詢
                this.selectByPage();
            }, //改變頁碼時執行的函數
            handleCurrentChange(currentPage) {
                //修改分頁查詢的參數
                this.pagination.currentPage = currentPage;
                //重新執行查詢
                this.selectByPage();
            },
            //每頁大小變化
            send() {
                this.selectByPage();
            }, //重新送出selectByPage
            showEditStu(roomOrderId) {
                //1.彈出窗口
                this.dialogTableVisible4list = true;
                axios.post("/CFA101G2/rmorderlist/romOrderListServlet", `ROOM_ORDER_ID=${roomOrderId}`,
                ).then(resp => {
                    // resp['data']
                    // var {data} = resp;
                    this.roomData = resp.data.list;
                    this.options = resp.data.all;
                    this.allRoom = resp.data.allroomtype;
                })
            }, //點查看時的函數
            updateStu(roomOrderId) {
                //1.彈出窗口
                // this.dialogTableVisible4list =true;
                Swal.fire({
                    title: '請選擇此筆訂單的操作或取消',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: `完成審核`,
                    denyButtonText: `取消訂單`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.post("/CFA101G2//room/checkRmorderServlet", `ROOM_ORDER_ID=${roomOrderId}&status=true`,
                        ).then(resp => {
                            if (resp.data.flag) {
                                Swal.fire("完成!", "訂單完成", "success",);
                                setTimeout(function () {
                                    vm.send();
                                }, 2000);
                            } else {
                                Swal.fire("失敗", "原因" + resp.errorMsg, "error");
                                setTimeout(function () {
                                    vm.send();
                                }, 2000);
                            }
                        })
                    } else if (result.isDenied) {
                        axios.post("/CFA101G2//room/checkRmorderServlet", `ROOM_ORDER_ID=${roomOrderId}&status=false`,
                        ).then(resp => {
                            if (resp.data.flag) {
                                Swal.fire('取消訂單成功', '已發送退款訊息', 'info')
                                setTimeout(function () {
                                    vm.send();
                                }, 2000);
                            } else {
                                Swal.fire("失敗", "原因" + resp.errorMsg, "error");
                                setTimeout(function () {
                                    vm.send();
                                }, 5000);
                            }

                        })
                    }
                })

            },   //點確認的函數
            show4Edit(roomOrderId) {
                // alert(roomOrderId)
                //1.彈出窗口
                this.dialogTableVisible4Edit = true;
                axios.post("/CFA101G2/rmorderlist/romOrderListServlet", `ROOM_ORDER_ID=${roomOrderId}`,
                ).then(resp => {
                    // resp['data']
                    // var {data} = resp;
                    this.roomEditDate = resp.data.list;
                    this.options = resp.data.all;
                })
            },  //點管理的函數
            room(roomId) {
                // var url = "/CFA101G2/back-end/room/addRoom.jsp?roomId=" + this.options.roomId;
                var url = "/CFA101G2/room/roomServlet?ROOM_ID=" + roomId;
                layer.open({
                    title: '住客登記',
                    type: 2,
                    content: url,
                    shade: 0.2,
                    shadeClose: true,
                    maxmin: true,
                    area: ['1000px', '500px'],
                });
            },
            checkin(orderListId , roomodid) {
                var url = "ROOM_ID=" + this.options.roomId + "&orderListId=" + orderListId;
                axios.post("/CFA101G2/rmorderlist/roomUpdateServlet", url,
                ).then(resp => {
                    if (resp.data.flag) {
                        swal.fire("完成!", "登記完成", "success",);
                        setTimeout(function () {
                            vm.send();
                            vm.show4Edit(roomodid);
                        }, 2000);
                    } else {
                        swal.fire("失敗", "原因" + resp.data.errorMsg, "error");
                        setTimeout(function () {
                            vm.send();
                        }, 2000);
                    }
                    ;
                })
            //     this.selectByPage();
            // this.show4Edit(roomodid);

            },
            doneStu(roomOrderId) {
                //1.彈出窗口
                // this.dialogTableVisible4list =true;
                Swal.fire({
                    title: '請選擇此筆訂單的操作或取消',
                    showDenyButton: false,
                    showCancelButton: true,
                    confirmButtonText: `確定完成`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.post("/CFA101G2/room/checkRmorderServlet", `ROOM_ORDER_ID=${roomOrderId}&status=end`,
                        ).then(resp => {
                            if (resp.data.flag) {
                                Swal.fire("完成!", "訂單已結束", "success",);
                                setTimeout(function () {
                                    vm.send();
                                }, 2000);
                            } else {
                                Swal.fire("失敗", "原因" + resp.errorMsg, "error");
                                setTimeout(function () {
                                    vm.send();
                                }, 2000);
                            }
                        })
                    }
                })
            }
            // rest4Edit(roomOrderId) {
            //     alert(roomOrderId)
            //     //1.彈出窗口
            //     this.dialogTableVisible4Edit = false;
            //     axios.post("/CFA101G2/rmorderlist/romOrderListServlet", `ROOM_ORDER_ID=${roomOrderId}`,
            //     ).then(resp => {
            //         // resp['data']
            //         // var {data} = resp;
            //         this.roomEditDate = resp.data.list;
            //         this.options = resp.data.all;
            //     })
            //     this.dialogTableVisible4Edit = true;
            //
            // },  //點管理的函數
        },
        mounted() {
            this.selectByPage();
        }
    });

</script>

</html>