<?xml version="1.0" encoding="UTF-8"?>
<web-app
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <!--管理員登入驗證-->
    <filter>
        <filter-name>EmpLoginFilter</filter-name>
        <filter-class>com.filter.EmpLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EmpLoginFilter</filter-name>
        <url-pattern>/back-end/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <!--房型管理-->
    <filter>
        <filter-name>RoomTypeLoginFilter</filter-name>
        <filter-class>com.filter.RoomTypeLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoomTypeLoginFilter</filter-name>
        <url-pattern>/back-end/roomtype/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


    <!--房間管理-->
    <filter>
        <filter-name>RoomLoginFilter</filter-name>
        <filter-class>com.filter.RoomLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoomLoginFilter</filter-name>
        <url-pattern>/back-end/room/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <!--住房管理-->
    <filter>
        <filter-name>RoomOrderLoginFilter</filter-name>
        <filter-class>com.filter.RoomOrderLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoomOrderLoginFilter</filter-name>
        <url-pattern>/back-end/roomsorder/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


    <!--會員管理-->
    <filter>
        <filter-name>MemTypeLoginFilter</filter-name>
        <filter-class>com.filter.MemTypeLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MemTypeLoginFilter</filter-name>
        <url-pattern>/back-end/mem/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <!--後台管理員管理-->
    <filter>
        <filter-name>EmpFilter</filter-name>
        <filter-class>com.filter.EmpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EmpFilter</filter-name>
        <url-pattern>/back-end/emp/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>



    <!--商品資料管理-->
    <filter>
        <filter-name>ShopLoginFilter</filter-name>
        <filter-class>com.filter.ShopLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShopLoginFilter</filter-name>
        <url-pattern>/back-end/shop/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


    <!--商品訂單管理-->
    <filter>
        <filter-name>ShopOrderLoginFilter</filter-name>
        <filter-class>com.filter.ShopOrderLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShopOrderLoginFilter</filter-name>
        <url-pattern>/back-end/shoporder/*</url-pattern>
        <url-pattern>/back-end/shoporderdetail/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>



    <!--活動管理-->
    <filter>
        <filter-name>ActLoginFilter</filter-name>
        <filter-class>com.filter.ActLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActLoginFilter</filter-name>
        <url-pattern>/back-end/act/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


    <!--活動類別管理-->
    <filter>
        <filter-name>ActTypeLoginFilter</filter-name>
        <filter-class>com.filter.ActTypeLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActTypeLoginFilter</filter-name>
        <url-pattern>/back-end/acttype/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


    <!--活動優惠管理-->
    <filter>
        <filter-name>ActPromoLoginFilter</filter-name>
        <filter-class>com.filter.ActPromoLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActPromoLoginFilter</filter-name>
        <url-pattern>/back-end/actpromo/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <!-- 會員 -->
    <servlet>
        <servlet-name>MemServlet</servlet-name>
        <servlet-class>com.mem.controller.MemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemServlet</servlet-name>
        <url-pattern>/front-end/mem/mem.do</url-pattern>
    </servlet-mapping>

    <!-- FILTER -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <!-- 		<url-pattern>/mem/update_mem_input.jsp</url-pattern> -->
        <url-pattern>/front-end/mem/memData.jsp</url-pattern>
        <!-- 		<url-pattern>/mem/testLoginSuccess.jsp</url-pattern> -->
        <url-pattern>/front-end/carte/showCarte2.jsp</url-pattern>
        <url-pattern>/front-end/carte/addCarte2.jsp</url-pattern>
        <url-pattern>/front-end/carte/updateCarte.jsp</url-pattern>
        <url-pattern>/front-end/shop/shoppingCart.jsp</url-pattern>
        <url-pattern>/front-end/retype/roomCarts.jsp</url-pattern>
        <url-pattern>/rmorder/RmorderServlet</url-pattern>
        <url-pattern>/rmorder/RmorderFromCartServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

    <!-- 個人名片 -->
    <servlet>
        <servlet-name>CarteServlet</servlet-name>
        <servlet-class>com.carte.controller.CarteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarteServlet</servlet-name>
        <url-pattern>/front-end/carte/carte.do</url-pattern>
    </servlet-mapping>

    <!-- 最新消息 -->
    <servlet>
        <servlet-name>RecentNewsServlet</servlet-name>
        <servlet-class>com.recentnews.controller.RecentNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecentNewsServlet</servlet-name>
        <url-pattern>/news/news.do</url-pattern>
    </servlet-mapping>

</web-app>